[Unit]
Description=CWD Canary
After=syslog.target
After=network-online.target

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
Restart=always
ExecStart=/home/cwd/env/bin/opencanaryd --start
ExecStop=/home/cwd/env/bin/opencanaryd --stop

[Install]
WantedBy=multi-user.target
